<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material"          (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="text-center">
              <img src="assets/images/logo4.png" alt="logo.png">Coffee Shop
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-4">
                  <h3 class="text-center txt-primary">Connexion</h3>
                </div>
                <div class="col-md-8">
                  <p class="text-inverse m-t-25 text-left">Vous n'avez pas de compte ?
                    <a [routerLink]="['/authentication/registration/with-bg-image']"> Registre </a> ici!</p>
                </div>
              </div>

              <div class="input-group">
                <input type="email" class="form-control" placeholder="Username" formControlName="userName">
                <span class="md-line"></span>

              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password" formControlName="passWord">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Mot de passe oublié?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" (*click)="login()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                </div>
              </div>              
            </div>
          </form>
          <div >
              <ul>
                  <li>Form status: {{ loginForm.status  }}.</li>
                <li>Name is required.</li>

                <li></li>
              </ul>
            </div>
          <p>Form value: {{ loginForm.value | json }}</p>

        </div>
      </div>
    </div>
  </div>
</section>
